<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--head-->
<!--<head th:replace="html/CustomerView/common::head"></head>-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>WuMing Shop</title>
    
   <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- <link rel="stylesheet" th:href="@{/css/contact.css}"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="./image/Free_Sample_By_Wix__1_-removebg-preview.png" type="image/icon type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/65ea79e29131ed19d976a6c4/1hoduo7vd';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>

    <div  class="container-fluid">
        <div style="width: 105% !important" class="row header">
            <div th:replace="html/CustomerView/common::header1"></div>
            <div th:replace="html/CustomerView/common::header2"></div>
            <div th:replace="html/CustomerView/common::nav"></div>
        </div>
     </div>

        
   
         <!--CONTACT-->
    <p style="margin-top:200px; margin-bottom:-130px; color: white" >Thông tin của bạn</p>
    <div class="container">

        <div style="margin-top:15px" class="col-12">
            <form action="/profile" method="post" th:object="${user}" class="card mb-3">
                <input hidden th:field="*{id}" th:value="${userLogined.id}">
              <div class="card-body">
                <div class="row col-8">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Họ tên</h6>
                  </div>
                  <div style="text-align: center"  class="col-sm-9 text-secondary info">
                   <input th:field="*{customerName}" type="tel" class="form-control" id="customerFullName" name="customerFullName" value="${userLogined.customerName }" />
                  </div>
                </div>
                <hr>
                <div class="row col-8">
                  <div class="col-sm-3">
                    <h6  class="mb-0">Email</h6>
                  </div>
                  <div style="text-align: center" class="col-sm-9 text-secondary info">
                  <input th:field="*{email}" name="email" type="tel" class="form-control"  value="${userLogined.email }" />
                    
                  </div>
                </div>
                <hr>
                <div class="row col-8">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Điện thoại</h6>
                  </div>
                  <div style="text-align: center" class="col-sm-9 text-secondary info">
                  <input th:field="*{phone}" name="phone" type="tel" class="form-control"   value=" ${userLogined.phone }" />
                  <input hidden th:field="*{password}" name="phone" type="text" class="form-control"   value=" ${userLogined.password }" />
                  <input hidden th:field="*{username}" name="phone" type="text" class="form-control"   value=" ${userLogined.username }" />

                  </div>
                </div>
                <hr>
             
                <hr>
                <div class="row col-8">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Địa chỉ</h6>
                  </div>
                  <div style="text-align: center" class="col-sm-9 text-secondary info">
                      <input th:field="*{address}" name="address" type="tel" class="form-control"  value=" ${userLogined.address }" />
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                     <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Cập nhật</button>
                  </div>
                </div>
              </div>
            </form>
    </div>
   

    <!--END-Position-->
         <!-- Footer -->
   		 <footer th:replace="html/CustomerView/footer::footer"></footer>
    <!-- Footer -->
</div>
    
    
  
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
 <script th:src="@{/js/script.js}"></script>
 <script th:src="@{/js/owl.carousel.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>