<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Trang chủ</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WuMing Shop</title>
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="" th:replace="html/Common/commonJS::common-css">	
	<link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}" >
</head>
<body>
<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/65ea79e29131ed19d976a6c4/1hoduo7vd';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
</script>
	<!-- Common -->
	<div class="row " style="margin-left: 0px !important;width: 105% !important">
		<div th:replace="html/CustomerView/header::header-temp"></div>
	</div>


	<div style="max-width: 1920px; margin-top: 200px;" class="container">
	<form action="/cart/checkout" method="post">
		<div style="margin-left: 300px;" class="card">
			<div  class="row">
				<div class="col-md-7 cart">
					<div class="title">
						<div class="row">
							<div class="col">
								<h4>
									<b>Giỏ hàng</b>
								</h4>
							</div>
							<div class="col align-self-center text-right text-muted" th:text=" ${session.totalItems} + 'ITEMS '"></div>
						</div>
					</div>
<!--					<c:forEach items="${cart.cartItems }" var="ci">-->
						<div class="row border-top border-bottom">
							<div th:each="ci, rowIndex : ${session.cart.cartItems}" class="row main align-items-center">
								<div class="col-2">
									<img class="img-fluid" th:src="@{'/upload/'+${ci.productAvatar}}">
								</div>
								<div class="col">
									<div class="row text-muted" th:text="${ci.productName}"></div>
									<div th:text="'Size: ' + ${ci.sizeName}" class="row"></div>

								</div>
								<div class="col">
									<a  style="cursor: pointer " href="/cart/view" th:onclick="'javascript:minusQuanlityCart(\'' + @{/ajax/minusQuantityCart} + '\', ' + ${ci.productId} + ')'"  >-</a>
									<span id="quanlity_${ci.productId}"  class="border" th:text="${ci.quanlity }"></span>
									<a  style="cursor: pointer " href="/cart/view" th:onclick="'javascript:plusQuanlityCart(\'' + @{/ajax/plusQuantityCart} + '\', ' + ${ci.productId} + ')'" >+</a>
								</div>



								<div th:text="${#numbers.formatDecimal(ci.priceUnit, 0, 'COMMA', 0, 'POINT')} +'đ'" class="col">
									<!-- &euro; 44.00 <span class="close">&#10005;</span> -->
								</div>
								<div class="col">
									<a style="margin-top: 0px" type="button" th:href="@{/cart/delete/{productId}(productId=${ci.productId})}" class="btn btn-danger" >Xóa</a>
<!--									@{/product/delete/{productId}(productId=*{id})}-->
								</div>
								<div class="row ml-5" th:if="${session.TB!=null}" th:text="${session.TB}" style="color: red" role="alert">

								</div>
							</div>
						</div>
<!--					</c:forEach>-->
				
					<div
							class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Customer
							Info</div>
<!--					<c:if test="${!isLogined }">-->
						<div th:if="${!isLogined}" class="p-4">
							<div class="form-group">
								<label for="customerPhone">Họ tên khách hàng</label>
								<input required type="tel" class="form-control" id="customerFullName" th:name="customerFullName" placeholder="Full name">
							</div>
							<div class="form-group">
								<label for="customerEmail">Email</label>
								<input required type="email" class="form-control" id="customerEmail" th:name="customerEmail" placeholder="Enter email">
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="customerPhone">Số điện thoại</label>
								<input required type="tel" class="form-control" id="customerPhone" th:name="customerPhone" placeholder="Phone">
							</div>
							<div class="form-group">
								<label for="customerAddress">Địa chỉ</label>
								<input required type="text" class="form-control" id="customerAddress" th:name="customerAddress" placeholder="Address">
							</div>
						</div>

						<div th:if="${isLogined }" class="p-4">
							<div class="form-group">
								<label for="customerPhone">Họ tên khách hàng</label>
								<input required type="tel" class="form-control" id="customerFullName" name="customerFullName" th:value="${userLogined.customerName }" >
							</div>
							<div class="form-group">
								<label for="customerEmail">Email</label>
								<input required type="email" class="form-control" id="customerEmail" name="customerEmail" th:value="${userLogined.email }" >
								<small  id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="customerPhone">Số điện thoại</label>
								<input required type="tel" class="form-control" id="customerPhone" name="customerPhone" th:value="${userLogined.phone }" >
							</div>
							<div class="form-group">
								<label for="customerAddress">Địa chỉ</label>
								<input required type="text" class="form-control" id="customerAddress" name="customerAddress" th:value="${userLogined.address }">
							</div>
						</div>
						<!-- <button type="submit" class="btn">CHECKOUT</button> -->
					
					<div class="back-to-shop">
						<a th:href="@{/home}">&leftarrow;</a><span class="text-muted">Quay lại trang chủ</span>
					</div>
				</div>
				<div class="col-md-5 summary">
					<div>
						<h5>
							<b>Summary</b>
						</h5>
					</div>
					<hr>
					<div class="row">
						<div class="col" style="padding-left: 0;" th:text="'ITEMS ' + ${session.totalItems}"></div>
						
					</div>
					<form>
						<p>SHIPPING</p>
						<select>
							<option class="text-muted">Standard-Delivery- &euro;5.00</option>
						</select>
						<p>GIVE CODE</p>
						<input id="code" placeholder="Enter your code">
					</form>
					<div class="row" style="border-top: 1px solid rgba(0, 0, 0, .1); padding: 2vh 0;">
						<div class="col">Tổng tiền</div>
						<div th:text="${#numbers.formatDecimal(session.cart.totalPrice, 0, 'COMMA', 0, 'POINT')} +'đ'" class="col text-right">

						</div>
					</div>
					<div class="row">Phương thức thanh toán</div>
					<div class="row" style="border-top: 1px solid rgba(0, 0, 0, .1); padding: 2vh 0;">

						<div style="justify-content: space-between;">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment" checked value="0">
								<label class="form-check-label" ><i class="fa-light fa-box-check fa-lg"></i>COD</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment"  value="1">
								<label class="form-check-label" ><i class="fa-brands fa-cc-paypal fa-lg"></i>Paypal</label>
								<span th:text="'('+${#numbers.formatDecimal(session.cart.totalPrice/23000, 2, 'COMMA', 2, 'POINT')} +'USD'+')'" name="price"></span>
							</div>

						</div>
					</div>
					<input th:value="${session.cart.totalPrice/23000}" name="price" hidden>
					<button type="submit" class="btn btn-success">Thanh toán</button>
				</div>
				
			</div>
			
		</div>
	</form>

		<!-- Footer -->
    <footer th:replace="html/CustomerView/footer::footer"></footer>
    <!-- Footer -->

	</div>


</body>

<jsp:include page="/WEB-INF/view/khachhang/layout/js.jsp"></jsp:include>

<script type="text/javascript">
	/* $("#plus").on("click", function(e){
		var soluong = $(this).parent().find('#quanlity').val();
		soluong = parseInt(soluong) + 1;
		if(soluong >= 1)
			{
				$(this).parent().find('#quanlity').html('#quanlity').val(soluong);
			}
	}) */
	
	
</script>

<script th:replace="html/Common/commonJS::common-js"></script>
<script th:src="@{/js/customer_scripts.js}"> </script>


</html>