<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WuMing Shop</title>
	<link rel="stylesheet" type="text/css" href="" th:replace="html/Common/commonJS::common-css">	
	<link rel="stylesheet" th:href="@{/css/detail.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/header.css}" rel="stylesheet" />
</head>



<body>
    <!-- Start of Tawk.to Script-->
    <script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/65ea79e29131ed19d976a6c4/1hoduo7vd';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>
    <!--End of Tawk.to Script -->


    <div class="container-fluid">
        <!--HEADER-->
	    <div style="width: 105% !important"  class="row header">
	        <div th:replace="html/CustomerView/header::header-temp"></div>
	    </div>  
    <div class="container mt-5">
        <div th:object="${product}" class="row ">
            <div class="col-8">
				<div class ="images text-center  border border-dark">
            		<img width="350px" heigh="350px" th:src="@{'/upload/'+*{avatar}}" alt="">					
				</div>
            	<div class="choose-size ">
                <h2 class="text-uppercase text-center font-weight-bold" style="margin-top:100px">Hướng Dẫn Chọn Size</h2>
                	<img class="w-100" th:src="@{/image/b_ng_size_owen_2_1_.jpg}"alt="" style=" margin-top: -5px;">
               </div>
                
            </div>
            <div class="col-4 ">
            	<div class="details ml-4">
						<h3 class="name-product text-uppercase font-weight-bold" th:text="*{title}"></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p class="product-description-detail m-0" th:text="*{detailDescription}"></p> 
						<div class="price-detail">
							<span th:text="${#numbers.formatDecimal(product.priceSale, 0, 'COMMA', 0, 'POINT')} +'đ'" class="new-price"style="font-size: 24px"> </span>
							<span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} +'đ'" class="old-price  ml-3" style="font-size: 18px"> </span>
													
						</div>
						 
						<ul class="sizes d-flex">
							<!-- <span class="size" data-toggle="tooltip" title="small" th:text="*{product.size}"></span> -->
							<li class="size" data-toggle="tooltip" title="medium">M</li>
							<li class="size" data-toggle="tooltip" title="large">L</li>
							<li class="size" data-toggle="tooltip" title="xtra large">XL</li>
						</ul>

						<div class="input-group mb-3 mt-3" style="width: 170px;">
							<button class="btn btn-white border border-secondary px-3"
								type="button" id="button-addon1" data-mdb-ripple-color="dark" onclick="giam()">
								<i class="fas fa-minus"></i>
							</button>
							<input type="text"
								class="form-control text-center border border-secondary"
								placeholder="1" aria-label="Example text with button addon"
								aria-describedby="button-addon1" id="amount" value="1" />
							<button class="btn btn-white border border-secondary px-3"
								type="button" id="button-addon2" data-mdb-ripple-color="dark">
								<i class="fas fa-plus" onclick="tang()"></i>
							</button>
						</div>
						
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
            </div>
            </div> 

             <!-- <div class="col-4">
                <p th:text="*{title}" class="name-product"></p>

                <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} +'đ'" class="card-text old-price"> </span>


                <span th:text="${#numbers.formatDecimal(product.priceSale, 0, 'COMMA', 0, 'POINT')} +'đ'" style="margin-left: 20px; font-size: 30px" class="card-text new-price">
                </span>
                <p  style="font-size: 18px; color: #fff;margin-bottom:0;font-weight: 600;">Mô tả:</p>
                <p th:text="*{detailDescription}" class="product-desc">
                </p>
                <p class="name-provider">Chọn size</p>
              
                <div class="shoe size">
                    <div th:each="size : ${sizes}" th:object="${size}" class="btn-group " role="group" aria-label="Third group">
                        <button th:value="*{id}" th:text="*{name}" type="button" class="btn btn-info shoe-size-btn size-button" onclick="getSizeValue(this)" name="size"> </button>
                    </div>
                  
                    <div style="margin-top: 15px;">
                        <button type="button" class="btn btn-outline-warning">
                            <a class="add-product" th:attr="data-id=${product.id}" th:text="'Thêm vào giỏ hàng'" th:onclick="'javascript:AddToCart(\'' + @{/ajax/addToCart} + '\', ' + ${product.id} + ', \'' + 1 + '\', 1)'"></a>

                        </button>

                    </div>

                </div>

            </div>  -->
      
        </div>
        	
        </div>
        </div>
    <!-- Footer -->
   		 <footer th:replace="html/CustomerView/footer::footer"></footer>
    <!-- Footer -->
 
     
     
 	<script th:replace="html/Common/commonJS::common-js"></script>
     <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/customer_scripts.js}"> </script>
    <script th:src="@{/js/chitiet.js}"> </script>
    <script>
        let amountElement = document.getElementById("amount");
        let amount  = amountElement.value;

        let render = (amount) =>{
                amountElement.value=amount;
        };
        let tang = () =>{
            ++amount;
            render(amount);
        }
        let giam = () =>{
            if(amount>1)
                --amount;
                render(amount);
        }
        amountElement.addEventListener('input', ()=>{
            amount  = amountElement.value;
            amount = parseInt|(amount);
            amount = ((isNaN)(amount)||amount <= 0 ) ? 1 : amount;
            render(amount);
        });
    </script>
</body>

</html>