<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/AdminView/common/head::head"></head>
  <body>


<div class="container-fluid">
  <div class="row">
    <!-- NAVIGATION -->
	  <div th:replace="html/AdminView/common/nav::nav"></div>
	<!-- NAVIGATION -->
    <main class="col-9">
     
         <div class="container-fluid">
                    
                    <form class="form-inline" action="/admin/userList" method="get">
						<div class="d-flex flex-row justify-content-between mt-4">
							<div class="d-flex flex-row">
								<input type="hidden" id="page" name="page" class="form-control">
								<input type="text" id="keyword" name="keyword" class="form-control" placeholder="Search" style="margin-right: 5px;">
								<button type="submit" id="btnSearch" name="btnSearch" class="btn btn-primary">Seach</button>
							</div>
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Tên khách hàng</th>
									<th scope="col">Tên đăng nhập</th>
									<th scope="col">Email</th>
									<th scope="col">Địa chỉ</th>
									<th scope="col">Điện thoại</th>
<!--									<th scope="col">Trạng thái</th>-->


								</tr>
							</thead>
							<tbody>
								<tr th:each="user,loop : ${users}">
									<th th:text="${loop.index + 1}" scope="row"></th>
									<td th:text="${user.customerName}"></td>
									<td th:text="${user.username }"></td>
									<td th:text="${user.email }"></td>
									<td th:text="${user.address }"></td>
									<td th:text="${user.phone }"></td>
<!--									<td>-->
<!--										<div class="dropdown">-->
<!--											<button th:if="${user.status}==true" th:text="'Active'" class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--											</button>-->
<!--											<button th:if="${user.status }==false" th:text="'Inactive'" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--											</button>-->
<!--											<ul class="dropdown-menu">-->
<!--												<li><a th:text="'Active'" th:href="@{/admin/user/editStatus/{id}/{statusUser}(id=*{user.id},statusUser=1)}" class="dropdown-item" >Action</a></li>-->
<!--												<li><a th:text="'Inactive'" th:href="@{/admin/user/editStatus/{id}/{statusUser}(id=*{user.id},statusUser=0)}" class="dropdown-item" >Another action</a></li>-->
<!--											</ul>-->
<!--										</div>-->
<!--									</td>-->
									<td>
										<a class="btn btn-danger" th:href="@{/admin/user/delete/{id}(id=*{user.id})}" onclick="return confirm('Bạn có muốn xóa ?')" role="button">Delete</a>
									</td>
								</tr>
				
							</tbody>
							
					
						</table>
						<!-- Paging -->
						<nav  aria-label="Page navigation example">
							<ul style="justify-content: center;" class="pagination">
								<li class="page-item">
									<th:block th:if="${currentPage == 1}">
										<a class="page-link disabled" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</th:block>
									<th:block th:if="${currentPage != 1}">
										<a class="page-link" th:href="@{/admin/userList(pageIndex=${currentPage-1})}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</th:block>
								</li>
								<li class="page-item" th:each="index:${#numbers.sequence(1,users.totalPages)}">
									<a style="color: orange" class="page-link" th:href="@{/admin/userList(pageIndex=${index})}" th:text="${index}"></a>
								</li>
								<li class="page-item">
									<th:block th:if="${currentPage == users.totalPages}">
										<a class="page-link disabled" aria-label="Next"><span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</th:block>
									<th:block th:if="${currentPage != users.totalPages}">
										<a class="page-link" th:href="@{/admin/userList(pageIndex=${currentPage+1})}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</th:block>
								</li>
							</ul>
						</nav>
						
					</form>
                    
                </div>
               </main>
            </div>
  	  
  </div>


	<script th:replace="html/Common/commonJS-Admin::JS"></script>
  </body>
</html>
